/*clases generales*/

body{ background-color:black;
    color:#FFFFFF;
}
article{ color:rgb(241, 236, 236);padding: 1.5rem;
    border-bottom: #FFFFFF 1px solid;
}
#titulo_del_blog{ text-align: center;
    font-size: 3rem;
    color:white;
}

/*terminan clases generales*/

/*barra de navegación*/
.resaltado{ color:yellow;
}

nav>ul>li { list-style: none;
}
nav>ul>li>a {
    text-decoration: none;
}

/*termina barra de navegación*/

/*footer del blog*/

#footer_blog{
    padding: 2rem;
}

footer{
    color:#FFFFFF;
}

/*termina footer del blog*/

/*ilustraciones*/

.ilustracion{
    border: white 4px solid;
}

.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}

/*fin de ilustraciones*/


/* grid */
section {
    
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

/* apunta sólo a los header que son hijos directos de section */
section>header {
    /* esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}

/* apunta sólo a los main */
section>main {
    /* esta sección se extenderá 8 columnas. */
    grid-column: span 8;
}

/* apunta sólo a los aside */
section>aside {
    /* esta sección se extenderá 4 columnas. */
    grid-column: span 4;
}

/* apunta sólo a los footer */
section>footer {
    /* esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}
/* Termina grid */

/*selecciona el <ul> que es hijo de nav*/
nav>ul {
    /*despliégalo  como flex*/
    display: flex;
    /*alinea sus elementos al centro*/
    align-items: center;
    /*justifica sus elementos con espacio igual entre ellos y con sus bordes izquierdo y derecho*/
    justify-content: space-around;
    /*añade un borde inferior*/
    border-bottom: 1px solid #fff;
    /*aumenta el espacio entre los elementos y el borde <ul>*/
    padding-bottom: 0.5rem;

    justify-content: space-between;
}

